body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
}


.form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: #333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    appearance: none; /* Remove default arrow in some browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23333" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41zM12 15l-6-6h12z"/></svg>'); /* Custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

/* Style for the arrow icon in the select */
.form select::-ms-expand {
    display: none; /* Hide default arrow in IE 10+ */
}

/* Hover style for the select */
.form select:hover {
    border-color: #aaa;
}

/* Focus style for the select */
.form select:focus {
    border-color: #555;
    outline: none;
}

.form select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
