.welcome {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(20% - 20px);
    max-height: 80px;
}

.logoutn {
    height: calc(20% - 30px);
    max-height: 56px;
    position: absolute;
    left: 1%;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* .promo-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
} */

/* .promo-item input[type="checkbox"] {
    margin-right: 10px;
} */

input, 
textarea, 
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #505050;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8b8b8b;
}

button {
    margin-top: auto; 
    margin-bottom: 20px;
    margin-left: 5px;
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #ddd;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

button:hover {
    transform: scale(1.05); 
    font-weight: bold;
    background-color: #ff596a; 
}

.row-form {
    margin-top: 10px;
    width: 100%; 
}

.dds {
    display: inline-flex;
    align-items: center;
}

.dds_inp {
    margin-right: 5px;
}

input[type="checkbox"]{
    width: 20px;
    margin-right: 10px;
}