body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.welcome {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(20% - 20px);
  max-height: 80px;
}

.logoutn {
  height: calc(20% - 30px);
  max-height: 56px;
  position: absolute;
  left: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  margin: 15px auto;  
  height: calc(70% - 20px);
  flex-grow: 1;
  gap: 2%; 
  position: relative;
}

.row {
  flex: 1;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  max-height: 100px;
}

.button-link {
  display: flex; 
  align-items: center;
  justify-content: center;  
  padding: 15px 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #505050;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  
}

.button-link.logout {
  background-color: #dc3545;
  border: 1px solid #ddd;
  order: 1;
  align-self: flex-end;
}

.button-link:hover {
  background-color: #8b8b8b;
  transform: scale(1.05); 
  font-weight: bold;
}

.button-link.logout:hover {
  background-color: #ff596a; 

}

@media (min-width: 600px) {
  .container {
      gap: 20px; /* Adjust gap for smaller screens */
  }
}

@media (max-width: 1368px) {
  .container {
      flex-direction: row; 
      flex-wrap: wrap; 
      gap: 20px; 
  }

  .row {
      flex-basis: 45%; 
  }

  .button-link.logout {
      width: 200px;
  }
}


